main {
  box-sizing: border-box;
  display: block;
}
/* Disable horizontal scroll */
body,
html {
  overflow-x: hidden;
}

.donate-cards {
  align-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  h2 {
    font-size: 2rem;
    font-weight: 900;
  }
  .donate-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .d-card {
      height: 300px;
      width: 50%;
      /* border: 2px solid #f27420; */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 20px;
      margin: 10px;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: translateY(10px);
      }
      h2 {
        margin: 15px;
      }
      p {
        margin: 15px;
      }
    }
  }

  .donate-text {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* border: 2px solid #f27420; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: translateY(10px);
    }
    p {
      width: 90%;
      margin: 15px;
      text-align: center;
    }
    .platinum {
      background-color: #e5e5e5; /* Light Gray/Silver */
    }

    .diamond {
      background-color: #b9e0f7; /* Light Blue/Icy Blue */
    }

    .gold {
      background-color: #ffd700; /* Gold */
    }

    .silver {
      background-color: #c0c0c0; /* Silver */
    }

    .bronze {
      background-color: #cd7f32; /* Bronze */
    }
    .donation-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
      margin: 15px;
    }
    h2 {
      margin: 15px;
    }
    .donation-card {
      width: 150px;
      padding: 15px;
      color: black;
      border-radius: 10px;
      text-align: center;
      font-weight: bold;
      transition: transform 0.2s, box-shadow 0.2s;
    }
    .donation-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  }
}

@media (max-width: 768px) {
  body {
    margin: 0;

    .donate-cards {
      margin-right: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      .donate-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: fit-content;
        .d-card {
          width: 100%;
          height: fit-content;
        }
      }
      .donate-text {
        flex-direction: column;
        width: 100%;
        height: fit-content;
        .donation-cards {
          display: grid;

          width: 100%;
          height: fit-content;
        }
      }
    }
  }
}
